<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="/">
            <h1 class="navbar__title">forum</h1>
        </a>

        <div class="navbar__actions">
            <form action="/search" method="get" class="navbar__search-form">
                <input type="text" name="q" class="navbar__search" placeholder="Search...">
                <button type="submit" class="navbar__button">Search</button>
            </form>
            <a href="/posts/create">
                <button class="navbar__button" id="create-post-button">Create Post</button>
            </a>
            <button onclick="profile()">Profile</button>
        </div>
    </div>

    <div class="container">
        <div class="main-content" id="main-content"></div>
    </div>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/profile.js"></script>
</body>
</html>
