<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/category.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/onboarding.css">
    <link rel="stylesheet" href="/static/css/posts_create.css">
    <link rel="stylesheet" href="/static/css/post_display.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="/">
            <h1 class="navbar__title">forum</h1>
        </a>
        
        <div class="navbar__actions">
            <!-- <form action="/search" method="get" class="navbar__search-form">
                <input type="text" name="q" class="navbar__search" placeholder="Search...">
                <button type="submit" class="navbar__button">Search</button>
            </form> -->
            <form id="search-form" class="navbar__search-form">
                <input type="text" id="search-query" name="q" class="navbar__search" placeholder="Search...">
                <button type="button" class="navbar__button" onclick="searchPosts()">Search</button>
            </form>
            
            <button class="navbar__button" id="create-post-button">Create Post</button>

            {{ if .IsLogged}}
            <form action="/logout" method="POST" style="display: inline;">
                <button class="navbar__button" id="login-button">Log Out</button>
            </form>
            <div class="navbar__Profile__Pic">
                {{ if .ProfPic }}
                <button onclick="profile">
                    <img src="/static/images/{{.ProfPic}}"  alt="user">
                </a>
                {{ else }}
                <a href="#" onclick="profile()">
                    <img src="/static/user-circle-svgrepo-com.svg"  alt="user">
                </a>
                {{ end }}
            </div>
            {{ else }}
            <a href="/login">
                <button class="navbar__button" id="login-button">Login</button>
            </a> 
            {{ end }}
        </div>
    </div>
    
    <div class="container">
        <!-- For mobile devices -->
        <button class="hamburger" onclick="toggleSidebar()">☰</button>

        <div class="sidebar" id="sidebar">
            <button class="sidebar__close" onclick="toggleSidebar()">✖</button>
            <h3 class="sidebar__heading">Categories</h3>
            <div id="categories-list"></div>
        </div>
        
        <div class="main-content" id="main-content">
            {{range .Posts}}
            <div class="card">
                <p class="card__title">
                    <a href="#" onclick="fetchPostDisplay('{{.UUID}}')" style="color: #0172eb;">{{.Title}}</a>
                </p>
                <p class="card__subject">{{.Creator}}</p>
                <p class="card__description">{{.Content | replaceNewlines}}</p>
                {{if .Media}}
                <img src="/static/media/{{.Media}}" alt="Post Image" style="width: 70px; aspect-ratio: 1/1;">
                {{end}}
        
                <div class="actions">
                    <form action="/posts/like" method="post">
                        <input type="hidden" name="post-id" value="{{.UUID}}">
                        <button type="submit">{{.LikesCount}} Like</button>
                    </form>
                    <form action="/posts/dislike" method="post">
                        <input type="hidden" name="post-id" value="{{.UUID}}">
                        <button type="submit">{{.DislikesCount}} Dislike</button>
                    </form>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/onboarding.js"></script>
    <script src="/static/js/profile.js"></script>
    <script src="/static/js/category.js"></script>
    <script src="/static/js/post_display.js"></script>
    <script src="/static/js/post_create.js"></script>
    <script src="/static/js/search.js"></script>
</body>
</html>
