:root {
    --primary-color: #0000EE;
    --primary-text-color: #FFFFFF;
    --hover-bg-color: #FFFFFF;
    --hover-text-color: #0000EE;
    --danger-color: red;
}

#create_post_button,
#logout_button {
    position: fixed;
    right: 32px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding: 0 16px;
    transition: width 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease;
}

#create_post_button {
    bottom: 32px;
}

#logout_button {
    bottom: 116px;
}

/* Hover state - Expands into a pill */
#create_post_button:hover,
#logout_button:hover {
    width: 160px;
    border-radius: 9999px;
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
    justify-content: center;
}

/* Plus sign */
#plus_sign,
#logout_icon {
    font-size: 24px;
    font-weight: bold;
    transition: opacity 0.2s ease;
    position: absolute;
}

/* Create Post text */
#create_post_text,
#logout_text {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
}

/* Hover effects */
#create_post_button:hover #plus_sign,
#logout_button:hover #logout_icon {
    opacity: 0;
}

#create_post_button:hover #create_post_text,
#logout_button:hover #logout_text {
    opacity: 1;
}

#categories_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

#combined_cluster {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
}

#left_categories_cluster, #right_categories_cluster {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#category_pill {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    height: fit-content;
    border-radius: 10px;
    align-items: center;
}
