.navbar-clusters {
    width: 25%;
}

#navbar_left_cluster {
    display: flex;
    justify-content: right;
}

#navbar_center_cluster {
    display: flex;
    justify-content: space-evenly; /* Ensures even spacing */
    align-items: center;
    margin: 0 auto; /* Centers the navbar */
    padding: 10px 0;
}

#navbar_right_cluster {
    display: flex;
    justify-content: left;
}

#navbar_center_cluster .material-symbols-outlined {
    font-size: 36px; /* Adjust size */
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

#navbar_center_cluster .material-symbols-outlined:hover {
    color: #1e1e99; /* Change color on hover */
}

#search_cluster {
    display: flex;
    flex-direction: row;
}

#search_cluster {
    border: 1px solid #ccc;
    border-radius: 35px;
    width: max-content;
    height: 45px;
    align-items: center;
}

#search_btn {
    border: none;
    background: none;
    margin: auto;
    width: max-content;
}

#search_icon {
    font-size: 35px;
    color: #0000EE;
    margin: auto 0 auto auto;
}

#search_input {
    font-size: 16px;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    width: calc(100% - 40px);
    margin-left: 10px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row; /* Keep items in a row */
        flex-wrap: wrap; /* Allows wrapping */
    }
    
    .navbar__title {
        font-size: 24px;
        text-align: left; /* Align to the left */
        flex: 1;
    }
    
    #navbar_center_cluster .material-symbols-outlined {
        font-size: 30px;
    }

    #navbar_center_cluster {
        width: 40%;
    }
}