#smoke_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 10, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create_post_form_container {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 10000; /* just in case */
    display: flex;
    flex-direction: column;
}

#close_button {
    position: absolute;
    top: 17%;
    right: 30%;
    font-size: 35px;
    color: #FFFFFF;
    cursor: pointer;
}

#close_button:hover {
    color: var(--danger-color);
}

#create_post_form_title {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#post_subject {   
    font-weight: 600;
    height: 30px;
}

#post_content {
    min-height: 200px;
}

.create_post_input {
    font-size: 17px;
    color: #000000; 
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 5px;
    margin: 5px 0;
    resize: none;
}

.create_post_input::placeholder {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 600;
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
 
}