#smoke_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* translucent black */
    z-index: 9999; /* must be higher than other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

#create_post_form_container {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 10000; /* just in case */
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
 
}