#profile_page {
    display: flex;
    justify-content: space-evenly; /* Ensures even spacing */
    align-items: center;
    width: 100vw;  /* Full viewport width */
    margin: 0;     /* Remove auto margin if it's centering the content */
}

#left_cluster, #center_cluster, #right_cluster {
    width: 33.3%;
}