/* Define color variables */
:root {
    --primary-color: #0000EE;
    --secondary-color: #FFFFFF;
    --tertiary-color: #656565;
    --quaternary-color: #666666;
    --highlight-color: #f3f3f1;
}

/* General page rules */
#profile_page {
    display: flex;
    justify-content: space-evenly; /* Ensures even spacing */
    align-items: flex-start; /* Aligns content to the top */
    width: 100vw;  /* Full viewport width */
    margin: 80px 0 0 0;     /* Ensure no auto margin is applied */
    padding-top: 20px; /* Adds some spacing from the top */
    min-height: 100vh; /* Ensure it covers the full viewport height */
}

#left_cluster, #center_cluster, #right_cluster {
    display: flex;
    flex-direction: column;
}

#left_cluster {
    top: 80px;
    left: 0;
    position: fixed;
    width: 33%;
}

#right_cluster {
    top: 80px;
    right: 0;
    position: fixed;
    width: 33%;
}

/* Left cluster rules */
#online_users_card, #profile_card, #category_container {    
    width: 45%;
    background-color: var(--secondary-color);
    border-radius: 15px;
    min-height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#online_users_card {
    margin: 15px 32px auto auto;
}

#category_container {
    margin: 40px 32px auto auto;
}

#profile_card {
    margin: 40px auto auto 17px;
}

#online_users_title, #categories_title {
    margin: 10px auto auto 30px;
    color: var(--quaternary-color);
    font-size: 22px;
    font-weight: 700;
}

#bio_card {
    margin: 40px auto auto 33px;
    width: 70%;
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: fit-content;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#image_container {
    width: fit-content;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

#profile_pic {
    width: 200px;  /* Adjust to preferred size */
    height: 200px;
    object-fit: cover; /* Prevents stretching */
    border-radius: 50%; /* Optional: Makes it circular */
}

#profile_info_container {
    margin: 0 auto 0 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#bio_title {
    font-size: 26px;
    font-weight: 700;
    color: var(--primary-color);
    margin-top: 0px;
}

#bio_paragraph {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Make sure it is NOT bold */
    color: var(--tertiary-color);
    margin: 10px;
}

#bio_container {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--highlight-color);
    margin: 10px;
    height: fit-content;
    min-height: 100px;
}

#bio_container_title {
    font-size: 16px;
    font-weight: 600;
    margin: 2px auto 0 10px;
}

@media (max-width: 1024px) {
    #online_users_card, #profile_card, #category_container {
        width: 60%;
    }

    #online_users_title, #categories_title, #profile_title {
        font-size: 18px;
    }

    #category_button_1, #category_button_2,
    #category_button_3, #category_button_4,
    #category_button_5, #category_button_6,
    #category_button_7, #category_button_8 {
        font-size: 16px;
        height: 24px;
    }

    #online_users_card, #profile_card, #category_container {
        min-height: fit-content;
        border-radius: 5px;
    }

    #online_users_content {
        padding: 0;
    }

    #index_profile_pic {
        height: 100px;
        width: 100px;
    }


    #profile_contact, #profile_subtitle {
       font-size: 14px; 
    }

    .profile-age-gender {
        font-size: 12px;
    }

    #profile_bio_text {
        font-size: 10px;
        margin: 0 auto 0 5px;
    }

    #profile_card {
        gap: 3px;
    }

    #messanger_button, #profile_logout_button {
        font-size: 14px;
        height:fit-content
    }

    #profile_action_container {
        gap: 3px;
    }

    #profile_bio_title {
        font-size: 10px;
        margin: 3px auto auto 15px;
    }
}