#profile_page {
    display: flex;
    justify-content: space-evenly; /* Ensures even spacing */
    align-items: flex-start; /* Aligns content to the top */
    width: 100vw;  /* Full viewport width */
    margin: 0;     /* Ensure no auto margin is applied */
    padding-top: 20px; /* Adds some spacing from the top */
    min-height: 100vh; /* Ensure it covers the full viewport height */
}

#left_cluster, #center_cluster, #right_cluster {
    display: flex;
    flex-direction: column;
}

#left_cluster, #right_cluster {
    width: 25%;
}

#center_cluster {
    width: 50%;
    gap: 20px;
}

#posts_button_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
}

#online_users_card {
    margin: 80px auto auto auto;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 15px;
    min-height: 300px;
}

#online_users_title {
    margin: 10px auto auto 30px;
    color: #0000EE;
    font-size: 24px;
}

#bio_card {
    margin: 80px auto auto auto;
    width: 95%;
    background-color: #FFFFFF;
    border-radius: 15px;
    min-height: 300px;
}

#posts_container {
        margin: 0 auto auto auto;
        width: 95%;
        background-color: #FFFFFF;
        border-radius: 15px;
        min-height: 300px;
}

#liked_posts_button, #my_posts_button {
    margin: auto 5px 0 5px;
    background-color: #0000EE;
}

#liked_posts_link, #my_posts_link {
    color: #FFFFFF;
    font-size: 18px;
}